.digest-card {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 226px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  background-color: var(--bg-color-main);

  font-size: 14px;

  &__label {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;

    border-radius: 6px;
  }

  &__label-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }

  &.positive &__label {
    background-color: rgba(var(--positive-color-rgb), 0.07);
  }

  &.positive &__label-icon {
    path {
      fill: var(--positive-color);
    }
  }

  &.positive &__change {
    color: var(--positive-color);
  }

  &.positive &__value {
    color: var(--positive-color);
  }

  &.negative &__label {
    background-color: rgba(var(--negative-color-rgb), 0.07);
  }

  &.negative &__label-icon {
    transform: rotateX(180deg);
    path {
      fill: var(--negative-color);
    }
  }

  &.negative &__change {
    color: var(--negative-color);
  }

  &.negative &__value {
    color: var(--negative-color);
  }

  &__info {
    flex-grow: 1;
  }

  &__info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__title {
    color: var(--text-color-secondary);
    font-weight: 600;
    text-transform: uppercase;
  }

  &__rate {
    font-size: 18px;
    font-weight: 600;
  }

  &__change {
    font-weight: 600;
  }
}
